/* COMMON */
body{
    font-family: Arial, sans-serif; 
}

header ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header a,
footer a {
    text-decoration: none;
    color: inherit;
}

.btn-common {
    color: white;
    border-radius: 25px;
}

img {
    width: 100%;
}

.section-title {
    font-size: 40px;
}

.section-subtitle {
    font-size: 20px;
    color: grey;
    padding: 20px 0;
}

/* Jumbotron 1/2 Common */
.jumbo-common {
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.jumbo-content {
    position: absolute;
    bottom: 50px;
}

.img-jumbo {
    width: 60%;
    padding-bottom: 30px;
}

.jumbo-text p {
    padding: 20px 0;
}

/* HEADER */
header {
    font-family: Helvetica, arial, sans-serif;
    color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-container {
    max-width: 1600px;
    margin: auto;
}

header li {
    display: inline-block;
    margin-left: 15px;
}

/* Header Top */
.header-top {
    background-color: black;
}

.header-bottom {
    background-color: white;
}

.logo-header-top img{
    height: 14px;
}

/* Header Botttom */
.logo-header-bottom img {
   height: 50px;
}

.header-list-left li {
    margin-right: 5px;
}

.menu-header-right {
    text-align: right;
}

.btn-dark {
    background-color: #363636;
}

.lens{
    height: 25px;
    cursor: pointer;
}

.burger {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px 15px;
    display: inline;
    font-size: 20px;
    color: grey;
}

.single-menu-btn {
    display: flex;
    align-items: center;
}

.chevron {
    height: 10px;
    margin-left: 5px;
}

/* Hover Chevron */
.chevron-hover {
    display: none;
    height: 10px;
    margin-left: 5px;
}

.single-icon:hover .chevron {
    display: none;
    cursor: pointer;
}

.single-icon:hover .chevron-hover {
    display: inline-block;
    cursor: pointer;
}

/* MAIN */

/* Jumbo 1 */
.jumbo-1 {
    background-image: url("../img/jumbo-bg.png");
    height: 600px;
}

.btn-red {
    background-color: #cd3d0f;
}

/* Bottom Jumbo */
.img-thumb img {
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 2px;
}

.img-thumb {
    margin-bottom: 20px;
    animation-duration: 650ms;
    animation-iteration-count: 1;
}

.border-selected {
    border: 2px solid #177ed2;
    border-radius: 20px;
}

/* Animations cards*/
.img-thumb:hover {
    animation-name: jump;
    animation-timing-function: ease-out;
    cursor: pointer;
}

@keyframes jump {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

/* Section Playstation 5 */
.ps-title {
    text-align: center;
}

.ps-title h6 {
    color: #0775cf;
    font-size: 15px;
}

.ps-thumb {
    text-align: center;
    opacity: 0.7;
}

.ps-thumb-selected {
    opacity: 1;
}

.ps-thumb-selected::after {
    display: block;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #0775cf;
    margin: 15px 0
}

.btn-blue {
    background-color: #2d64e6;
}

@media (min-width: 768px) {

    .ps-thumb img {
        width: 50%;
    }
}

/* Jumbo 2 */
.jumbo-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 700px;
}

/* Section Nuove Uscite */
.new-games {
    background-color: #1f1f1f;
    color: white;
}

.new-title h3 {
    padding-bottom: 10px;
}

.single-game-card img {
    border-radius: 25px;
    margin-bottom: 10px;
}

.single-game-card {
    margin: 20px 0;
}

/* Section PS4 */
.card {
    border: none;
    margin-bottom: 20px;
}

/* Playstation Plus */
.ps-plus {
    background-color: #bebcbb;
}

.btn-grey {
    color: #2d64e6;
    background-color: #d9dadc;
}

/* Playstation Now */
.ps-now {
    background-color: #161c3b;
}

.ps-now-text p {
    color: white;
}

.btn-white {
    color: black;
    background-color: white;
}

 /* Labels R-TM-C */
.re-label {
    font-size: 15px;
    vertical-align: super;
}

.tm-label {
    font-size: 9px;
    vertical-align: super;
}

.cr-label  {
    font-size: 12px;
    vertical-align: text-bottom;
}

/* Socials */
.social-links {
    max-width: 550px;
    margin: auto;
}

.socials h4 {
    font-size: 30px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
    font-size: 15px;
    padding: 80px 0;
}

.logo-footer-top img {
    height: 75px;
}

.footer-links {
    margin-bottom: 15px;
    padding-left: 20px;
}

.footer-links li {
    margin-bottom: 10px;
}

.logo-footer-bottom img {
    height: 50px;
}

#img-globe {
    height: 20px;
}

#more-info {
    text-decoration: underline;
}


