/* COMMON */
header {
    font-family: Helvetica, arial, sans-serif;
    color: black;
    width: 100%;
    /* position: fixed; */
}

body{
    font-family: Arial, sans-serif; 
}

header ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header a,
footer a {
    text-decoration: none;
    color: inherit;
}

.btn-common {
    color: white;
    border-radius: 25px;
}

/* HEADER */
.header-container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
}

header li {
    display: inline-block;
    margin-left: 15px;
}

/* Header Top */
.header-top {
    background-color: black;
}

.header-bottom {
    background-color: white;
}

.logo-header-top img{
    height: 15px;
    width: 100%;
}

/* Header Botttom */
.header-list-left,
.logo-header-bottom {
    display: inline-block;
}

.menu-header-right {
    text-align: right;
}

.btn-dark {
    background-color: #363636;
}

.lens{
    height: 25px;
    width: 100%;
}

.burger {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px 15px;
    display: inline;
    font-size: 20px;
    color: grey;
}

.single-menu-btn {
    display: flex;
    align-items: center;
}

.chevron {
    height: 10px;
    margin-left: 10px;
}

/* Hover Chevron */
.chevron-hover {
    display: none;
    height: 10px;
    margin-left: 10px;
}

.single-icon:hover .chevron {
    display: none;
    cursor: pointer;
}

.single-icon:hover .chevron-hover {
    display: inline-block;
    cursor: pointer;
}

/* MAIN */

.jumbotron {
    height: 600px;
    max-width: 100%;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.img-jumbo {
    padding: 20px 0;
}

 .jumbo-text p {
    padding: 20px 0;
}

.btn-red {
    background-color: #cd3d0f;
}




